@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&family=Spline+Sans+Mono:wght@300;400;500;600;700&display=swap');

p,label{
    font-family: 'Fira Code', monospace;
    
}
h1,h2,h5{
    font-family: 'Spline Sans Mono', monospace;
}

.dropdown-menu .dropdown-item:hover{
color: black !important;
}
.single-img{
    width: 100%;
    height: 95vh;
    overflow: hidden;
}
.slider-text{
margin-bottom: 50px;
    
}

.slider-text h5{
color: rgb(255, 255, 255);    
text-shadow: 0 0 10 black;
}
.about-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:1px solid #444 ;
}
.main-about{
    background-color: rgb(187, 187, 187);
}
.about-img img{
    width: 500px;
}
.about-text{
    padding-right: 20px !important;
}
.about-text h2{
color: black;
margin-bottom: 0px;
}
.about-text span{
    color: black
}
.about-text p{
    margin-top: 20px;
    color: black;
    text-align: justify;
}
.service-text{
    width: 800px;
    margin: auto;
}
.single-card{
    transition: 0.3s;
    
}
.single-card:hover{
    box-shadow: 0px 0px 5px 0px black;
}
.card-text{
    text-align: justify;
}
.details{
    border-top: 1px solid #999;
}
.progress-text{
    display: block !important;
    width: 100px;
}
.progress-bar{
 
   color: #444 !important;
   
}
.skill{
    border-top: 1px solid rgb(202, 202, 202);
}
.contact{
    background-color: rgb(201, 201, 201);
}